.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 462px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 7px -190px 0 75px;
}

.u-section-1 .u-text-2 {
  margin: 20px -190px 60px 75px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}