.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3295px;
}

.u-section-1 .u-text-1 {
  margin: 131px 322px 0 777px;
}

.u-section-1 .u-text-2 {
  margin: 34px 322px 0 804px;
}

.u-section-1 .u-image-1 {
  width: 461px;
  height: 461px;
  margin: -955px 46px 60px auto;
}

.u-section-1 .u-video-1 {
  width: 301px;
  height: 180px;
  margin: -5185px auto 0 43px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 570px;
  margin: 4973px auto 0 254px;
}

.u-section-1 .u-menu-1 {
  margin: 98px auto 0;
}

.u-section-1 .u-nav-1 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-nav-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-menu-2 {
  margin: -98px auto 0 272px;
}

.u-section-1 .u-nav-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-nav-4 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  margin: 35px -80px 0 407px;
}

.u-section-1 .u-image-3 {
  width: 461px;
  height: 461px;
  margin: -144px 693px 0 -14px;
}

.u-section-1 .u-text-4 {
  margin: -306px 46px 0 387px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 7px 321px 0 417px;
}

.u-section-1 .u-text-6 {
  margin: 20px 33px 0 387px;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-video-2 {
  width: 271px;
  height: 171px;
  margin: -204px auto 0 81px;
}

.u-section-1 .u-text-7 {
  margin: 53px -50px 0 417px;
}

.u-section-1 .u-text-8 {
  margin: 20px 33px 0 387px;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 147px;
  margin: -713px auto 0 261px;
}

.u-section-1 .u-text-9 {
  margin: -37px 13px 0 354px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 38px;
  min-height: 16px;
  width: 86px;
  min-width: 42px;
  animation-duration: 1000ms;
  margin: -169px 418px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-menu-3 {
  margin: 138px auto 0 359px;
}

.u-section-1 .u-nav-6 {
  font-size: 1.25rem;
}

.u-section-1 .u-menu-4 {
  margin: -36px auto 0 359px;
}

.u-section-1 .u-nav-8 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-10 {
  margin: 559px -50px 0 417px;
}

.u-section-1 .u-text-11 {
  margin: 20px 33px 0 387px;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-text-12 {
  margin: 20px -50px 0 417px;
}

.u-section-1 .u-text-13 {
  margin: 20px 33px 0 387px;
}

.u-section-1 .u-btn-6 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 500px;
  height: 500px;
  margin: -480px 693px 0 -53px;
}

.u-section-1 .u-text-14 {
  margin: 0 -50px 0 417px;
}

.u-section-1 .u-text-15 {
  margin: 20px 33px 0 387px;
}

.u-section-1 .u-text-16 {
  margin: 20px -50px 0 417px;
}

.u-section-1 .u-text-17 {
  margin: 11px 33px 0 387px;
}

.u-section-1 .u-btn-7 {
  font-size: 1rem;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  padding: 0;
}

.u-section-1 .u-btn-9 {
  padding: 0;
}

.u-section-1 .u-text-18 {
  margin: 20px -50px 0 417px;
}

.u-section-1 .u-text-19 {
  margin: 33px 33px 0 387px;
}

.u-section-1 .u-text-20 {
  margin: 20px -50px 0 417px;
}

.u-section-1 .u-text-21 {
  margin: 20px 33px 0 387px;
}

.u-section-1 .u-text-22 {
  margin: 20px -50px 0 417px;
}

.u-section-1 .u-text-23 {
  margin: 20px 33px 0 387px;
}

.u-section-1 .u-text-24 {
  margin: 20px -50px 0 417px;
}

.u-section-1 .u-text-25 {
  margin: 20px 33px 0 387px;
}

.u-section-1 .u-btn-10 {
  padding: 0;
}

.u-section-1 .u-text-26 {
  margin: 52px 33px 0 387px;
}

.u-section-1 .u-text-27 {
  margin: -2px 33px 0 387px;
}

.u-section-1 .u-btn-11 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 0 auto 0 387px;
  padding: 9px 22px;
}

.u-section-1 .u-btn-12 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px auto 60px 387px;
  padding: 9px 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 5806px;
    margin-right: 266px;
    margin-left: 677px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 266px;
    margin-left: 704px;
  }

  .u-section-1 .u-image-1 {
    margin: -1663px auto 0 -38px;
  }

  .u-section-1 .u-video-1 {
    width: 271px;
    height: 171px;
    margin-top: 0;
    margin-left: 57px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
  }

  .u-section-1 .u-menu-1 {
    margin-top: 0;
    width: 596px;
    height: 98px;
  }

  .u-section-1 .u-menu-2 {
    margin-top: 0;
    margin-left: 72px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-left: 307px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
    margin-right: 593px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-right: -80px;
    margin-left: 307px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 221px;
    margin-left: 317px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-video-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-left: 317px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1663px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -1569px;
    margin-right: 0;
    margin-left: 167px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -1758px;
  }

  .u-section-1 .u-menu-3 {
    margin-top: -1541px;
    margin-left: 159px;
    width: 375px;
    height: 36px;
  }

  .u-section-1 .u-menu-4 {
    margin-left: 159px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 0;
    margin-left: 317px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 0;
    margin-left: 317px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -1275px;
    margin-right: 593px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 317px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 0;
    margin-left: 317px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 0;
    margin-left: 317px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 0;
    margin-left: 317px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 0;
    margin-left: 317px;
  }

  .u-section-1 .u-text-23 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 0;
    margin-left: 317px;
  }

  .u-section-1 .u-text-25 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-text-26 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 220px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 220px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 204px;
    margin-left: 567px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 204px;
    margin-left: 594px;
  }

  .u-section-1 .u-image-1 {
    margin-left: -50px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 150px;
  }

  .u-section-1 .u-menu-1 {
    width: auto;
  }

  .u-section-1 .u-menu-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 197px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 433px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 197px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 111px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-menu-3 {
    margin-left: 0;
  }

  .u-section-1 .u-menu-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-right: 433px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3257px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 153px;
    margin-left: 477px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 153px;
    margin-left: 504px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: 263px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 21px;
    margin-left: 117px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 139px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-right: 263px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2604px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 96px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 96px;
    margin-left: 326px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-video-2 {
    margin-left: 69px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 88px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 254px;
  }

  .u-section-1 .u-menu-3 {
    width: 340px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 340px;
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-2 {
  background-image: linear-gradient(#404040, #db545a);
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: -18px -597px 0 257px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 61px 13px 60px 407px;
}

.u-section-2 .u-video-1 {
  width: 456px;
  height: 257px;
  margin: 30px -597px 60px 257px;
}

.u-section-2 .u-text-3 {
  margin: 20px -597px 60px 257px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 121px -22px 0 242px;
  }

  .u-section-2 .u-video-1 {
    margin: 0 auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -178px;
    margin-right: -538px;
    margin-left: 795px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-video-1 {
    width: 340px;
  }
}